@using PrimeStay.MVC.DataAccessLayer.DTO;
@using PrimeStay.MVC.Model;

@{
    ViewData["Title"] = "Order";
}
@model Booking;
    <div class="container">
    <div class="card" style="width: 18rem; text-align: center">
        <div class="card-header">
            🎉 You have made a booking 🎉
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Number of people: @Model.Guests</li>
            <li class="list-group-item">Start Date: @Model.Start_date</li>
            <li class="list-group-item">End Date: @Model.End_date</li>
        </ul>

    </div>
</div>