@{
    ViewData["Title"] = "Order";

    var queryParams = new Dictionary<string, string>();
    var query = Context.Request.Query;
    query.Keys.ToList().ForEach(key => queryParams.Add(key, Context.Request.Query[key]));
}

@model Booking

<div class="container align-self-center">
    <br />
    <br />
    <h1> Confirm and finish our Order</h1>
    <br />
    <div class=" order-md-1">
        <h4 class="mb-3">Billing address</h4>
        <form>
           
                <label>Name</label>
                <input name="Name" style="width:100%;" class="form-control" required="">
        

                <label >Email </label>
                <input name="Email" class="form-control" placeholder="you@example.com" style="width:100%;" required="">
                <div class="invalid-feedback">
                    Please enter a valid email address for shipping updates.
                </div>
      

          
                <label>Phone</label>
                <input name="Phone" class="form-control" style="width:100%;" required="">

            
            <input asp-action="Create" asp-all-route-data=@queryParams formmethod="POST" type="submit" value="Checkout" class="btn btn-primary" style="margin-left:45%; margin-top:25px;"/>

        </form>
    </div>


            

</div>
<br />
<br />
<br />