
@model string;


<div style="background-image: url('../img/login-image.jpg'); background-size: cover; background-position: center; height: 100%; padding-bottom: 50px; ">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">




            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1" style="background-color:white; background: rgba(255, 255, 255, .8); border-radius:15px; overflow:hidden;">
                <h2 style="padding:10px;">Log in</h2>
                <form asp-controller="Account" asp-action="Authorize" method="post">
                    <!-- Username input -->
                    <div class="form-outline mb-4">
                        <label class="form-label">Username</label>
                        @if (string.IsNullOrEmpty(Model))
                        {
                            <input type="text" name="Username" class="form-control form-control-lg" placeholder="Enter a Username" ) />
                        }
                        else
                        {
                            <input type="text" name="Username" class="form-control form-control-lg" value="@Model" />
                        }
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" name="Password" class="form-control form-control-lg" placeholder="Enter password" />
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">

                        <button class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
